### Concepts

<h5> "==" can test variable for equality
    <h5> "is" operator check if the two names refer to same object

In [1]:
aString = "I love python"
anotherString = "I love python"

In [2]:
aString == anotherString

True

In [3]:
aString is anotherString

False

In [3]:
aString === anotherString

SyntaxError: invalid syntax (3565248666.py, line 1)

In [4]:
thirdString = aString
thirdString is aString

True

#### Binary operators

In [5]:
valueBin = 0b10 # 0b for binary, 0x for hexa

In [6]:
valueBin

2

#### bitwise and (&), or (|), not(^), and xor(~) are supported

In [7]:
resutlOfAnd = int(0b1010) & int(0b1010)
resutlOfAnd

10

In [8]:
0b1010 # 10 only in binary

10

In [9]:
resultOfOr = int(0b1010) | int(0b1111)
resultOfOr

15

In [10]:
# as 0b1111 is 15 in decimal
0b1111

15

In [11]:
# XOR means if bit changes set to 1
resultOfXOR = int(0b1101) ^ int(0b0011)
resultOfXOR

14

In [12]:
# as 0b1110 is 14
0b1110

14

#### All references to None use the same single instance. None type represents null object
##### None boolean value is false. None is not callable so cannot be used as a conversion function to convert other types to None. None is default value of a Python function

In [13]:
aVariableNotYetDefined = None

In [14]:
aVariableNotYetDefined is None #Identity test not value test so "==" not used

True

In [15]:
aVariableNotYetDefined == None # Still value test is also True

True

##### print function convertes boolean or hexa numbers to integer before printing

In [16]:
print(0b1010)

10

In [17]:
print(0xf)

15

#### Literal byte strings are represented in qutotes preceded by the letter b. Byte strings are immutable. Byte arrays are similar but they are mutable.

##### If you access an individual element using indexing, the returned value is an integer. This means comparing a single character byte string with an indexed string value result in False

In [18]:
aByteString = b'All the strings'
aByteStringOneChar = b'A'

In [19]:
aByteString[0] == aByteStringOneChar

False

In [20]:
type(aByteString[0])

int

In [21]:
type(aByteStringOneChar)

bytes

In [22]:
aByteString[0]

65

In [23]:
aByteStringOneChar

b'A'

In [24]:
aByteString

b'All the strings'

### Tuples

In [25]:
(q,r) = divmod(17,4) # unpacking, extract valures of tuple into descrte variables

In [26]:
q,r

(4, 1)

In [27]:
t = 1, 2, 3  # paranthesis is not a requirement for being tuple
type(t)

tuple

#### named collection
##### A named tupbe class in collections module allows elements to be indexed by name rather thanposition. Advantages of dictionry with copactness and immutability of a tuple

In [28]:
import collections as col
employee = col.namedtuple("Employee", ("name", "city","role"))

In [29]:
cto = employee("musk", "SF", "CTO")
ceo = employee("Jobs", "SF", "CEO")

In [30]:
print(cto.role)

CTO

In [31]:
print(ceo.name)

Jobs

In [32]:
type(employee)

type

In [33]:
type(cto)

__main__.Employee

In [34]:
type(cto.name)

str

#### Lists ####

In [35]:
bike = ["Bajaj", "Pulsar", "150cc"]
car = ["Hyundai", "i10", "1200cc"]

In [36]:
allVehicles = bike + car # Concatenates

In [37]:
allVehicles

['Bajaj', 'Pulsar', '150cc', 'Hyundai', 'i10', '1200cc']

In [38]:
car

['Hyundai', 'i10', '1200cc']

In [39]:
power = car.pop()

In [40]:
power

'1200cc'

In [41]:
car

['Hyundai', 'i10']

In [42]:
car.append("fourWheel")
car

['Hyundai', 'i10', 'fourWheel']

In [43]:
color = ["black", "red", "white"]

In [44]:
car.extend(color)    # extend add the content of the list to end of another
car

['Hyundai', 'i10', 'fourWheel', 'black', 'red', 'white']

In [45]:
idOfModel = car.index('i10')   # index returns first instance of the item
idOfModel

1

In [46]:
totalRed = car.count("red")
totalRed

1

In [47]:
car.insert(4, "grey")  # insert at index starting from 0
car

['Hyundai', 'i10', 'fourWheel', 'black', 'grey', 'red', 'white']

In [48]:
bike.remove("150cc")
bike

['Bajaj', 'Pulsar']

In [49]:
car

['Hyundai', 'i10', 'fourWheel', 'black', 'grey', 'red', 'white']

In [50]:
newCar = sorted(car)  # only returns sorted list does not sort inline
newCar

['Hyundai', 'black', 'fourWheel', 'grey', 'i10', 'red', 'white']

In [51]:
car  # remains same as before sorted function

['Hyundai', 'i10', 'fourWheel', 'black', 'grey', 'red', 'white']

In [52]:
car.sort()  # now it will be sorted inline
car

['Hyundai', 'black', 'fourWheel', 'grey', 'i10', 'red', 'white']

#### Dictionary

In [53]:
months = {1:"jan", 2:"feb", 3:"mar"}

In [54]:
months.items()  # returns key-value tuples

dict_items([(1, 'jan'), (2, 'feb'), (3, 'mar')])

In [55]:
# above key-value tuples can be assigned
[(num, mon), (one, two), (three, four)] = months.items()
four

'mar'

In [56]:
months.get(5) #returns None

In [57]:
months.get(2)

'feb'

In [58]:
# To check if key is not present we check if value is None
months.get(7) == None

True

In [59]:
mon = months.pop(2) # removes one item permanently
mon

'feb'

In [60]:
months

{1: 'jan', 3: 'mar'}

In [61]:
months[2] = "feb"  # add a key-value to dictionary
months

{1: 'jan', 3: 'mar', 2: 'feb'}

In [62]:
months.setdefault(4) # setdefault Works like get but if key does not exist then create one with "None" as value
months

{1: 'jan', 3: 'mar', 2: 'feb', 4: None}

In [63]:
months.setdefault(2)

'feb'

In [64]:
months

{1: 'jan', 3: 'mar', 2: 'feb', 4: None}

In [65]:
months[4] = "April" # Assign a value to existing key
months

{1: 'jan', 3: 'mar', 2: 'feb', 4: 'April'}

"fromkeys" operation initializeds a dictionary using a sequence to provide the keys and given default value (None if no value)
Usually called as dict.fromkeys()

In [66]:
calender = dict.fromkeys("summer")  #None value by default
calender

{'s': None, 'u': None, 'm': None, 'e': None, 'r': None}

In [67]:
days = dict.fromkeys(("mon", "tue", "wed", "thu", "fri", "sat", "sun"), "one")

In [68]:
days  # default vaues for each as "one"

{'mon': 'one',
 'tue': 'one',
 'wed': 'one',
 'thu': 'one',
 'fri': 'one',
 'sat': 'one',
 'sun': 'one'}

#### Sets

In [69]:
numbers = {1, 2, 3}

In [70]:
numbers.pop()

1

In [71]:
numbers

{2, 3}

In [72]:
numbers.pop()

2

In [73]:
numbers.pop()

3

In [74]:
numbers

set()

In [75]:
type(numbers)

set

In [76]:
# Because of above, the only way to test empty set is
# if givenset == set(), as "{}" is to test empty dictionary
if numbers == set():
    print("all gone, nothing, nada, empty, khali")
else:
    print("Well something is there")

all gone, nothing, nada, empty, khali

In [77]:
# Below will return fale as we are testig empty set with empty dictionary
numbers == {}

False

In [78]:
numbers = {4,1,3,6,2,5}
sorted(numbers)

[1, 2, 3, 4, 5, 6]

In [79]:
numbers

{1, 2, 3, 4, 5, 6}

#### Operations on set: in issubset issuperset union intersection difference symmetric_difference(elements that are non in intersection)

In [80]:
numbers.update({8}) #way to add a new element in set
numbers

{1, 2, 3, 4, 5, 6, 8}

##### ###############

Managing "runtime context". To handle a temporary resource like an open file  or a concurrent thread python uses keyword **with** and a **context manager** protocol

Example:

```
with open(filename, mode) as contextName:
    process file here
````

In [81]:
with open("text.txt", "w") as textFile:
    textFile.write("Success!!")
    
# No need to close exclusively

In [82]:
with open("text.txt", "r") as dataFile:
    content = dataFile.read()
    
content

'Success!!'

In [83]:
import os
os.remove("text.txt")  # Removing the file we do not need now

### Game to learn input, try/expect, break and while

In [84]:
target = 15
while True:
    value = input("Enter an integer between 1 and 20")
    try:
        value = int(value)
    except ValueError:
        print("You were supposet to enter an integer")
        break
        
    if value > target:
        print(value, " is too large")
    elif value < target:
        print(value, " is too small")
    else:
        print("Perfect!")
        break

Enter an integer between 1 and 2014
14  is too small
Enter an integer between 1 and 2026
26  is too large
Enter an integer between 1 and 2015
Perfect!

##### Generator function

In [85]:
def odds(start = 1):
    '''return all odd numbers from start upwards'''
    
    if int(start) % 2 == 0: start = int(start + 1)
    
    while True: # Yes this can run to infinite. Taken care in calling function
        yield start
        start = start + 2

In [86]:
for n in odds(1):
    if n > 9: break  #avoid infinite loop
    else: print(n)

1
3
5
7
9

In [87]:
for j in odds(2):
    if j > 20: break
    else: print(j)

3
5
7
9
11
13
15
17
19

#### lambda functions